.row {   
    height: 52px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-family: Roboto;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}

.simple-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    height: 100%;
    &:hover {
        background-color: lighten($color: #ededed, $amount: 2);
    }
}

.details {
    display: flex;
    flex-flow: column;
    margin-left: 12px;
    padding: 24px;
    background-color: #ededed;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}


.name-block {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
}

.name {
    font-size: 16px;
}

.block {
    width: 100px;
}

.button-group {
    display: flex;
    flex-flow: row;
    margin-left: auto;
}

.download, .delete, .upload {
    width: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    height: 50px;
    &:hover {
        background-color: lighten($color: #ededed, $amount: 2);
        .icon, .label {
            color: #F57300;
        }
    }
    .icon {
        padding-left: 12px;
    }
    .label {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        padding: 0 12px;
    }
}