<div class="container">
    <div class="row" [class.open]="isOpen">
        <div class="simple-row" (click)="onOpenClick()">
            <div class="name-block">
                <span *ngIf="!isOpen" class="material-symbols-outlined">expand_more</span>
                <span *ngIf="isOpen" class="material-symbols-outlined">expand_less</span>
                <span class="name">{{ name }}</span>
            </div>
            <span class="block device-id">{{ deviceId }}</span>
            <span class="block version">{{ version }}</span>
        </div>
        <div class="button-group">
            <div *ngIf="canDelete" (click)="delete(file)" class="delete">
                <span class="icon material-symbols-outlined">delete</span>
                <span class="label">delete</span>
            </div>
            <div *ngIf="canDownload && file && file.path" (click)="download(file)" class="download">
                <span class="icon material-symbols-outlined">download</span>
                <span class="label">download</span>
            </div>
        </div>
    </div>
    <div class="details" *ngIf="isOpen">
        <ng-container *ngIf="canEdit">
            <app-edit-filepack
                [id]="id"
                [name]="name"
                [version]="version"
                [description]="description"
                [deviceId]="deviceId"
                (firmwareEditedEmit)="editEmit.emit()"
            ></app-edit-filepack>
        </ng-container>

        <ng-container *ngIf="!canEdit">
            <span class="description">{{ description }}</span>
        </ng-container>
        <input *ngIf="file == null" type="file" name="file" id="file" (change)="fileChange($event)" accept=".zip">
    </div>
</div>