.bar {
    background-color: #000000;
    height: 72px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px;
}
.logo {
    height: 50%;
    img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

.title {
    font-weight: bold;
    font-size: 18px;
    padding: 24px 12px;
    font-family: Roboto;
    color: #F57300;
    text-transform: uppercase;
    margin-left: 12px;
}

.auth {
    color: #fff;
    margin-left: auto;
}

.logout {
    display: flex;
    flex-flow: column;
}