<div class="bar">
    <div class="logo">
        <img src="assets/kemppi-logo.png">
    </div>
    <span class="title">Software HUB</span>
    <div class="auth">
        <div class="login" *ngIf="!isLoggedIn" (click)="login()">login</div>
        <div class="logout" *ngIf="isLoggedIn && user" (click)="logout()">
            <span class="username">{{ user.username }}</span>
            <span class="logout-label">logout</span>
        </div>
    </div>
</div>