<app-top-bar></app-top-bar>
<app-nav-bar [activeTab]="activeTab" (tabClickedEmit)="tabChanged($event)"></app-nav-bar>

<div class="tabs">
  <app-firmware-page *ngIf="activeTab === 'firmware'"></app-firmware-page>
  <app-filepack-page *ngIf="activeTab === 'filepack'"></app-filepack-page>
</div>