$HEIGHT: 40px;
:host {
    display: block;
    height: $HEIGHT;
    width: min-content;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F57300;
    border-radius: calc(#{$HEIGHT} / 2);
    padding: 0px 8px;
    height: 100%;
    cursor: pointer;
    &:hover {
        background-color: lighten(#F57300, 2);
    }
}
.icon + .label {
    margin-left: 12px;
}

.label {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
}