<div class="container">
    <div class="row">
        <div class="name-block">
            <input type="text" id="name" placeholder="name" [ngModel]="nameFilter" (ngModelChange)="nameChange($event)">
        </div>
        <div class="block">
            <input type="text" id="type" placeholder="type" [ngModel]="typeFilter" (ngModelChange)="typeChange($event)">
        </div>
        <div class="block">
            <input type="text" id="version" placeholder="version" [ngModel]="versionFilter" (ngModelChange)="versionChange($event)">
        </div>
    </div>
</div>