<div class="container">
    <div (click)="tabClicked('firmware')" class="tab" [class.active]="activeTab === 'firmware'">Firmware</div>
    <div (click)="tabClicked('filepack')" class="tab" [class.active]="activeTab === 'filepack'">Filepack</div>
</div>