.container {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid grey;
}

.tab {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto;
    color: #414141;
    padding: 16px 24px;
    cursor: pointer;
    &.active {
        color: #F57300;
        border-bottom: 2px solid #000;
    }
}