.row {   
    height: 52px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-family: Roboto;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}


.name-block {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 188px;
    height: 100%;
    margin-left: 12px;
}

.name {
    font-size: 16px;
}

.block {
    width: 100px;
    height: 100%;
}

input {
    width: 100%;
    height: 100%;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
    box-shadow: none;
    padding: 12px 0;
    box-sizing: border-box;
}