<div class="container">
    <app-filepack-list-filter
        (nameFilterEmit)="filterChange('name', $event)"
        (typeFilterEmit)="filterChange('type', $event)"
        (versionFilterEmit)="filterChange('version', $event)"
    ></app-filepack-list-filter>
    <app-filepack-list-item *ngFor="let firmware of filteredFirmwares"
        [id]="firmware.id"
        [name]="firmware.name"
        [version]="firmware.version"
        [description]="firmware.description"
        [deviceId]="firmware.deviceId"
        [file]="firmware.file"
        [can]="listCan"
        (downloadEmit)="onDownload(firmware.id)"
        (deleteEmit)="onDelete(firmware.id)"
        (uploadEmit)="onUpload()"
        (editEmit)="onEdit()"
    ></app-filepack-list-item>

    <app-create-filepack *ngIf="canCreateFirmware" (createdEmit)="onCreate()"></app-create-filepack>
</div>