.container {
    background-color: #ededed;
    padding: 12px;
}

.inputs {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-flow: column;
    margin-top: 12px;
    label {
        display: flex;
        flex-flow: column;
    }
}
.title {

}
app-button {
    margin-top: 12px;
}