<div class="container">
    <div class="title">
        Create new firmware
    </div>
    <div class="inputs">
        <div class="row">
            <label>
                <span class="label">Name</span>
                <input type="text" id="name" name="name" [(ngModel)]="name">
            </label>
        </div>

        <div class="row">
            <label>
                <span class="label">Version</span>
                <input type="text" id="version" name="version" [(ngModel)]="version">
            </label>
        </div>

        <div class="row">
            <label>
                <span class="label">Type</span>
                <input type="text" id="deviceId" name="deviceId" [(ngModel)]="deviceId">
            </label>
        </div>

        <div class="row">
            <label>
                <span class="label">description</span>
                <input type="text" id="description" name="description" [(ngModel)]="description">
            </label>
        </div>

    </div>

    <app-button label="Create" (click)="create()"></app-button>

</div>